# Ignore Auth/dist, Auth/node_modules, Auth/build directories
gitignore
Auth/dist/
Auth/node_modules/
Auth/build/
Auth/.env
Business/dist/
Business/node_modules/
Business/build/
Business/.env
Setting/dist/
Setting/node_modules/
Setting/build/
Setting/.env
System/dist/
System/node_modules/
System/build/
System/.env
Userrole/dist/
Userrole/node_modules/
Userrole/build/
Userrole/.env
Warehouse/dist/
Warehouse/node_modules/
Warehouse/build/
Warehouse/.env
File/dist/
File/node_modules/
File/build/
File/.env
Web/node_modules/
Web/build/
Web/.env
Ftp